*.o
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
src/.deps/
src/geoclue-gpsd3
src/org.freedesktop.Geoclue.Providers.Gpsd3.service
